<div class="row">

    <div class="col-6">

        <app-dona [labels]="labelDona" [data]="data1" [title]="'Ventas'">
        </app-dona>

    </div>

    <div class="col-6">

        <app-grafica-barras [title]="'Economia'" [label]="barraLabel" [data]="barraData"></app-grafica-barras>

    </div>

    <div class="col-6">

      <app-grafica-radar [title]="'Hobbies'" [radarLabel]="radarLabel" [radarData]="radarChartData">
      </app-grafica-radar>

    </div>

    <div class="col-6">

    <app-grafica-porcentaje  [label]="porcentajeLabel" [data]="porcentajeData"></app-grafica-porcentaje>

    </div>


    

</div>
